$pm-purple: #5032e8;
$pm-green: #329d92;
$pm-white: #ffffff;
$pm-text-white: #f6f6f6;
$pm-black: #000000;
$pm-soft-black: #111111;
$pm-muted-white: rgba(246, 246, 246, 0.1);
$pm-muted-black: rgba(24, 26, 30, 0.8);
$pm-muted-green: rgba(50, 157, 146, 0.58);

$font-family-primary: "Avenir";
$font-family-secondary: "Avenir Next";

$mobile-bp: 768px;
