@import "~bootstrap/scss/bootstrap";
@import "./constants.scss";
@import "./modifiers.scss";
@import "./bootstrap_overrides.scss";
@import "./text.scss";
@import "./components.scss";
@import "./header.scss";
@import "./home_page.scss";
@import "./project_page.scss";
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700");

html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background: $pm-black;
  // background: linear-gradient(
  //   20deg,
  //   rgba(27, 43, 45, 1) 0%,
  //   rgba(42, 32, 172, 1) 100%
  // );
}

#app {
  height: 100%;
  overflow: hidden;
}

.skeleton {
  height: 100%;
}
