@import "~bootstrap/scss/bootstrap";
@import "./constants.scss";
@import "./bootstrap_overrides.scss";
@import "./components.scss";
@import "./header.scss";
@import "./home_page.scss";
@import "./project_page.scss";
body {
  overflow: hidden;
  background: linear-gradient(
    20deg,
    rgba(27, 43, 45, 1) 0%,
    rgba(42, 32, 172, 1) 100%
  );
}

#app {
  overflow: hidden;
}
