.project-page {
  height: 100vh;
  padding-bottom: 30px;

  .mix-select {
    font-weight: 600;
  }
  .comment-section {
    background: $pm-muted-white;
    border-radius: 8px;
  }

  .media-section {
    position: fixed;
    bottom: 30px;
    left: 20px;
    right: 20px;
  }
}

.add-mix-modal {
  .preview {
    width: 100%;

    .delete-icon {
      font-size: 1.25em;
      color: $pm-white;
      border: none;
      background: none;
    }
  }
}
