.project-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  .mix-select {
    font-weight: 600;
  }

  .comment-section {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    flex-grow: 1;
  }
}

.add-mix-modal {
  .preview {
    width: 100%;

    .delete-icon {
      font-size: 1.25em;
      color: $pm-white;
      border: none;
      background: none;
    }
  }
}
